<div id="product-block">
  <img src="assets/images/products/{{product.id}}.png" width='1000px' class="img">
  <p class="headers">Edit Title: <input type="text" [(ngModel)]="product.name"></p>
  <p><span class="headers">Product Title: </span> <span id="title">{{product.name}}</span></p>
  <p><span class="headers">Description: </span> <br> <span id="description">{{product.description}}</span></p>
  <p>Price: {{product.price}}</p>
  <div class="likes">
    <button (click)="likeButtonClick()">Like</button>
    <p class = "num-of-likes">{{numberOfLikes}}</p>
  <button (click)="updateProduct()">Save</button>
  <button (click)="goBack()">Go back</button>
</div>
</div>

