<body>
<h1>About the Vintage Shop</h1>
<h4>We are empowering consignors to extend the life cycle of luxury goods. <br>
  The future of fashion is circular. </h4>
<img class= "collage" src="assets/images/pic1.jpg" alt="collage">
<h1>We are Commited to Supporting Diversity</h1>
<h4>We believe diversity and inclusion foster a collaborative culture, which fuels our ability to innovate and disrupt as we work to help create a more sustainable future. </h4>
<img class= "collage" src="assets/images/diversity.jpg" alt="diversity">
<h1>We are Building Real Careers</h1>
<h4>We’re looking for talented, innovative thinkers eager to build a career at one of the fastest growing luxury businesses in the country.</h4>

<h1>Our Team</h1>
<div class = "member">
  <img class = "mem_img" src="assets/images/karina.jpg" alt="Karina Abubakirova">
  <h4>Karina Abubakirova</h4>
</div>
<div class = "member">
  <img class = "mem_img" src="assets/images/gulnaz.jpg" alt="Gulnaz Amangeldiyeva">
  <h4>Gulnaz Amangeldiyeva</h4>
</div>
<div class = "member">
  <img class = "mem_img" src="assets/images/altusha.JPG" alt="Altynay Zhaxylykova">
  <h4>Altynay Zhaxylykova</h4>
</div>
</body>
