<div id="main-block">
  <p>
    <img class="main-photo" src="assets/images/main-photo-4.jpg">
    <img class="main-photo" src="assets/images/main-photo-3.jpg">
    <img class="main-photo" src = 'assets/images/main-photo.jpg'>
  </p>
  <h1 id="h1-1">Spring collection</h1>
  <a routerLink="/products"><p id="p-1">Go To Collection</p></a>
</div>

<div id="about-us-block">
  <h1 class="block-titles">About us</h1>

  <div class="about-us-points">
    <img class="about-us-imgs" src="assets/images/shipped.png">
    <strong>Free Shipping </strong> <br>
    Delivery between 9am-8pm, Monday to Friday. <br>
    Receive your purchase within 3-4 business days.
  </div>

  <div class="about-us-points">
    <img class="about-us-imgs" src="assets/images/gift-card.png">
    <strong>Give a Gift Card</strong> <br>
    Give the gift of luxury and style with our gift card.
  </div>

  <div class="about-us-points">
    <img class="about-us-imgs" src="assets/images/social-media.png">
    <strong>Social Media</strong>  <br>
    Instagram: @vinshop <br>
    Snapchat: vinshop
  </div>
</div>

<div id="new-arrivals-block">
  <h1 class="block-titles">New arrivals</h1>

  <div class="products">
    <a routerLink="/products/1">
    <img src="https://cache.net-a-porter.com/images/products/1316796/1316796_in_1365_q80.jpg" class="product-img">
    <h1 class="product-title">Hermès Sheer Blouse</h1>
    </a>
    <p class="product-price">$19.99</p>
    <p class="product-description">Some text about the blouse..</p>
  </div>


  <div class="products">
    <a routerLink="/products/2">
    <img src="https://cache.net-a-porter.com/images/products/1311317/1311317_in_1365_q80.jpg" class="product-img">
    <h1 class="product-title">Chanel Gripoix Crystal Chain Necklace</h1>
    </a>
    <p class="product-price">$12.99</p>
    <p class="product-description">Some text about the necklace..</p>
  </div>

  <div class="products">
    <a routerLink="/products/3">
    <img src="https://cache.net-a-porter.com/images/products/1320963/1320963_in_1365_q80.jpg" class="product-img">
    <h1 class="product-title">Chanel Oversized Earrings</h1>
    </a>
    <p class="product-price">$14.99</p>
    <p class="product-description">Some text about the earrings..</p>
  </div>

  <div>
    <a routerLink="/products"><button id="button-more">More...</button></a>
  </div>
</div>

<div id="feedbacks-block">
  <h1 class="block-titles">Feedbacks</h1>
  <div class = "feedback">
    <p>"Fast, great consignor relations, easy, and authentic. <br>
      My first time consigning with the Vintage Shop was quick and effortless."</p>
    <p class = "reviewer">Meredith Hassler</p></div>

  <div class = "feedback">
    <p>"Every item is in good conditions. <br>
      I am very excited to wear new clothes after COVID!!!"</p>
    <p class = "reviewer">Jaden Miller</p></div>
</div>


